<div id="tf-about">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div map-lazy-load="http://maps.google.com/maps/api/js" class="map-container">
            <map center="{{map.marker}}" zoom="{{map.zoom}}" map-type-id="{{map.mapTypeId}}">
              <marker position="{{map.marker}}" title="{{map.title}}" draggable="{{map.draggable}}" visible="{{map.visible}}"></marker>
            </map>
          </div>
          <div class="btn btn-map-zoom">
            <a href="http://www.google.com/maps/place/-37.334962,-57.038308/@-37.334962,-57.038308,15z" target="_blank"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h4 translate="ABOUT_TITLE" translate-values="{siteName: '{{siteName}}'}"></h4>
              <h2 translate="ABOUT_SUBTITLE"></h2>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro" translate="ABOUT_INTRO"></p>
            <ul class="about-list">
              <li><span class="fa fa-map-marker"></span><em>{{"ABOUT_ADDRESS_1" | translate}}</em></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
