<div ng-include="'templates/home.html'"></div>
<div ng-include="'templates/services.html'"></div>
<div ng-include="'templates/about.html'"></div>
<div ng-include="'templates/photos.html'"></div>
<div ng-include="'templates/testimonials.html'"></div>
<div ng-include="'templates/contact.html'"></div>
