<!-- Home Page
==========================================-->
<div id="tf-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <h1 translate="WELCOME_TITLE"></h1>
      <p translate="WELCOME_DESCRIPTION" class="lead"></p>
      <a href="#tf-services" page-scroll class="fa fa-angle-down"></a>
    </div>
  </div>
</div>

<!-- Services Section
==========================================-->
<div id="tf-services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2 translate="SERVICES_TITLE"></h2>
      <div class="line"><hr></div>
      <div class="clearfix"></div>
      <small><em>{{"SERVICES_SUMMARY" | translate}}</em></small>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-bed"></i>
        <h4><strong>{{"SERVICES_BED" | translate}}</strong></h4>
        <p>{{"SERVICES_BED_DESCRIPTION" | translate}}</p>
      </div>

      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-coffee"></i>
        <h4><strong>{{"SERVICES_BREAKFAST" | translate}}</strong></h4>
        <p>{{"SERVICES_BREAKFAST_DESCRIPTION" | translate}}</p>
      </div>

      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-television"></i>
        <h4><strong>{{"SERVICES_TV" | translate}}</strong></h4>
        <p>{{"SERVICES_TV_DESCRIPTION" | translate}}</p>
      </div>

      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-wifi"></i>
        <h4><strong>{{"SERVICES_WIFI" | translate}}</strong></h4>
        <p>{{"SERVICES_WIFI_DESCRIPTION" | translate}}</p>
      </div>
    </div>
  </div>
</div>

<!-- About Us Page
==========================================-->
<div id="tf-about">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "02.png", class: "img-responsive" %>
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h4 translate="ABOUT"></h4>
              <h2>Some words <strong>about us</strong></h2>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro">We love building and rebuilding brands through our  specific skills. Using colour, fonts, and illustration, we brand companies in a way they will never forget.</p>
            <ul class="about-list">
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Mission</strong> - <em>We deliver uniqueness and quality</em>
              </li>
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Skills</strong> - <em>Delivering fast and excellent results</em>
              </li>
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>Clients</strong> - <em>Satisfied clients thanks to our experience</em>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Section
==========================================-->
<div id="tf-photos">
  <div class="container">
    <div class="section-title text-center center">
      <h2 translate="PHOTOS_TITLE"></h2>
      <div class="line"><hr></div>
      <div class="clearfix"></div>
      <small><em>{{"PHOTOS_SUMMARY" | translate}}</em></small>
    </div>
    <div class="space"></div>

    <div class="categories">
      <ul class="cat">
        <li class="pull-left"><h4>{{"PHOTOS_FILTER_TITLE" | translate}}</h4></li>
        <li class="pull-right">
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">{{"PHOTOS_FILTER_ALL" | translate}}</a></li>
            <li><a href="#" data-filter=".interior">{{"PHOTOS_FILTER_INTERIOR" | translate}}</a></li>
            <li><a href="#" data-filter=".exterior">{{"PHOTOS_FILTER_EXTERIOR" | translate}}</a></li>
            <li><a href="#" data-filter=".gaviotas" >{{"PHOTOS_FILTER_GAVIOTAS" | translate}}</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="row" image-filter>
      <div ng-repeat="photo in photos" class="col-sm-6 col-md-3 col-lg-3" ng-class="photo.categories">
        <div class="portfolio-item">
          <div class="hover-bg">
            <div class="hover-text">
              <!-- <h4>Logo Design</h4> -->
              <small>{{"PHOTOS_ZOOM" | translate}}</small>
              <div class="clearfix"></div>
              <i class="fa fa-search-plus"></i>
            </div>
            <div ng-bind-html="photo.image_tag"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials Section
==========================================-->
<div id="tf-testimonials" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2><strong>Our clients’</strong> testimonials</h2>
        <div class="line"><hr></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="testimonial" testimonial-carousel class="owl-carousel owl-theme">
            <div class="item">
              <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
              <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
            </div>

            <div class="item">
              <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
              <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
            </div>

            <div class="item">
              <h5>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</h5>
              <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section
==========================================-->
<div id="tf-contact" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-title center">
            <h2>Feel free to <strong>contact us</strong></h2>
            <div class="line"><hr></div>
            <div class="clearfix"></div>
            <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small>            
          </div>

          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn tf-btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
</div>
