<div id="tf-photos">
  <div class="container">
    <div class="section-title text-center center">
      <h2 translate="PHOTOS_TITLE"></h2>
      <div class="line"><hr></div>
      <div class="clearfix"></div>
      <small><em>{{"PHOTOS_SUMMARY" | translate}}</em></small>
    </div>
    <div class="space"></div>
    <div class="categories">
      <ul class="cat">
        <li class="pull-left"><h4>{{"PHOTOS_FILTER_TITLE" | translate}}</h4></li>
        <li class="pull-right">
          <ol class="type">
            <li>
              <a ng-click="setVisibility('*')" data-filter="*" class="clickable active">
                {{"PHOTOS_FILTER_ALL" | translate}}
              </a>
            </li>
            <li>
              <a ng-click="setVisibility('interior')" data-filter=".interior" class="clickable">
                {{"PHOTOS_FILTER_INTERIOR" | translate}}
              </a>
            </li>
            <li>
              <a ng-click="setVisibility('exterior')" data-filter=".exterior" class="clickable">
                {{"PHOTOS_FILTER_EXTERIOR" | translate}}
              </a>
            </li>
            <li>
              <a ng-click="setVisibility('gaviotas')" data-filter=".gaviotas" class="clickable">
                {{"PHOTOS_FILTER_GAVIOTAS" | translate}}
              </a>
            </li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row" image-filter>
      <div ng-repeat="photo in photos" class="col-sm-6 col-md-3 col-lg-3" ng-class="photo.categories">
        <div class="portfolio-item">
          <div class="hover-bg">
            <div class="hover-text" data-toggle="modal" data-target="#photosModal" ng-click="setCurrentPhotoIndex(photo.visibleIndex)">
              <!-- <h4>Logo Design</h4> -->
              <small>{{"PHOTOS_ZOOM" | translate}}</small>
              <div class="clearfix"></div>
              <i class="fa fa-search-plus"></i>
            </div>
            <div ng-bind-html="photo.image_tag"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'templates/photos_carousel.html'"></div>
</div>
