<br>
<div id="tf-services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2 translate="SERVICES_TITLE"></h2>
      <div class="line"><hr></div>
      <div class="clearfix"></div>
      <small><em translate="SERVICES_SUMMARY"></em></small>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4 service">
        <i class="fa fa-bed"></i>
        <h4><strong>{{"SERVICES_BED" | translate}}</strong></h4>
        <p>{{"SERVICES_BED_DESCRIPTION" | translate}}</p>
      </div>
<!-- 
      <div class="col-md-3 col-sm-6 service">
        <i class="fa fa-coffee"></i>
        <h4><strong>{{"SERVICES_BREAKFAST" | translate}}</strong></h4>
        <p>{{"SERVICES_BREAKFAST_DESCRIPTION" | translate}}</p>
      </div>
 -->
      <div class="col-md-4 col-sm-4 service">
        <i class="fa fa-television"></i>
        <h4><strong>{{"SERVICES_TV" | translate}}</strong></h4>
        <p>{{"SERVICES_TV_DESCRIPTION" | translate}}</p>
      </div>

      <div class="col-md-4 col-sm-4 service">
        <i class="fa fa-wifi"></i>
        <h4><strong>{{"SERVICES_WIFI" | translate}}</strong></h4>
        <p>{{"SERVICES_WIFI_DESCRIPTION" | translate}}</p>
      </div>
    </div>
  </div>
</div>
