<div id="tf-testimonials" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2 translate="TESTIMONIALS_TITLE"></h2>
        <div class="line"><hr></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="testimonial" testimonial-carousel class="owl-carousel owl-theme">
            <div class="item" ng-repeat="testimonial in testimonials">
              <h5>{{testimonial.description}}</h5>
              <p>{{testimonial.author}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
