@import "bootstrap";
@import "font-awesome";
@import "scaffolds";

.not-visible { border: 2px dashed red; }
.visible { border: 2px solid green; }

a.btn {
  text-decoration: none;
  color: white;
}

.categories {
  font-size: 90%;
  font-style: italic;
}

.actions i { font-size: 150%; }