@import "bootstrap";
@import "font-awesome";
@import "scaffolds";

.not-visible { border: 2px dashed red; }
.visible { border: 2px solid green; }

a.btn {
  text-decoration: none;
  color: white;
}

.categories {
  font-size: 90%;
  font-style: italic;
}

.actions a { 
  font-size: 175%;
  color: #666;

  &:hover {
    background-color: transparent !important;
    
    i.fa-pencil { color: green; }
    i.fa-trash { color: red; }
  }
}