.clickable {
  cursor: pointer;
}

// Navigation menu
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #fcac45 !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgba(132,132,132,0.7);
  text-align: right;
  border: 1px solid whitesmoke;
  border-radius: 4px;

  a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    color: whitesmoke;
    letter-spacing: 1px;

    &:hover {
      color: #fcac45 !important;
      background-color: transparent;
    }
  }
}

// About
ul.about-list li span.fa { 
  font-size: 150%;
}

.map-container {
  border: 1px solid #fff;
  margin: 0 15px;
  box-shadow: 0 0 20px 5px gray;

  #map-label {
    background-color: transparent;
    border: 1px solid #5a5a5a;
    border-radius: 2px;
  }
}

.btn.btn-map-zoom {
  position: absolute;
  right: 40px;
  bottom: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
  box-shadow: 4px 4px 10px #000;

  i { 
    color: #5a5a5a;
    font-size: 140%;
    padding-top: 3px;
  }
}

.about-distances { margin: 45px 0 -20px 0 !important; }

// Photos Modal
#photosModal {
  .modal-content{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.83) 17%, rgba(0,0,0,0.76) 35%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(17%,rgba(0,0,0,0.83)), color-stop(35%,rgba(0,0,0,0.76)), color-stop(62%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.83) 17%,rgba(0,0,0,0.76) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.83) 17%,rgba(0,0,0,0.76) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.83) 17%,rgba(0,0,0,0.76) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.83) 17%,rgba(0,0,0,0.76) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  }

  .close-button {
    padding-right: 10px;
    cursor: pointer;
    font-size: 150%;

    span {
      color: #fff;
      &:hover { color: #fcac45 !important; }
    }
  }

  i.fa {
    border: none;
    color: #fff !important;
    &:hover { color: #fcac45 !important; }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .owl-theme .owl-controls .owl-buttons div {
    background: none !important;
  }
}

// Contact
.form-group.has-error {
  input { border: 1px solid #a94442 !important; }
  textarea { border: 1px solid #a94442 !important; }
}

// Services
.department-specs { margin: 5px; }