// Navigation menu
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #fcac45 !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-nav > li > .dropdown-menu {
  background-color: transparent;
  text-align: right;
  border: 1px solid #5a5a5a;
  border-radius: 4px;

  a {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    color: #5a5a5a;
    letter-spacing: 1px;

    &:hover {
      color: #fcac45 !important;
      background-color: transparent;
    }
  }
}